{
  "extends": ["airbnb", "airbnb-base"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "object-curly-newline": 0,
    "arrow-parens": 0,
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": 0,
    "linebreak-style": 0,
    "max-len": ["error", { "code": 120 }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "no-underscore-dangle": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint"
}
