.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
}

button,
svg {
  -webkit-app-region: no-drag;
}

.main-content {
  margin-top: 75px;
}

.btn:focus {
  box-shadow: none;
}

html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}

body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

a {
  color: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border-bottom: 1px solid #dee2e6;
}

.dropzone-selection {
  cursor: pointer;
}

.dropzone-selection p::selection {
  background: transparent;
}

.loader-content {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.progress-bar {
  margin-top: 10px;
  height: 15px;
  border-radius: 5px;
}

.align-center {
  align-items: center;
}

.dir_path.dir_path {
  background-color: white;
}

input[type='file'] {
  display: none;
}

label.custom-file-upload {
  margin-bottom: 0 !important;
}

.custom-file-upload {
  border: 1px solid #ced4da;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 0.25rem;
}

.dir_path.dir_path:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.cursor-pointer {
  cursor: pointer;
}

.container.container {
  padding-right: 30px;
  padding-left: 30px;
}

/*@media (min-width: 1200px) {
  .container.container {
    max-width: 100%;
  }
}*/
